.cart{
    display: flex;
    flex-direction: row;
    gap: 128px;
    margin-top: 96px;
    margin-bottom: 126px;

        &__items{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            &__item{ 
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);

                &__left{

                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    .info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 20px 0px 60px 30px;
                        gap: 42px;

                        p,label {
                            font-size: 22px;
                            font-weight: 400;
                            color: rgb(111, 110, 110);
                        }

                        &__type {
                            input {
                                padding: 8px;
                                width: 44px;
                                text-align: center;

                            }

                        }
                    }
        
                    .price {
                        display: flex;
                        flex-direction:row;
                        gap: 4px;
        
                        .pink_text {
                            color: $textAlightColor;
                        }
                    }
                
                }

                .close-x {
                    position: absolute;
                    top: 28px;
                    right: 22px;
                }
            }

            .cart__options {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin-top: 32px;

                .cart__button {
                    width: 212px;
                    height: 48px;
                    @include button;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        &__check-out{
            width: 360px;
            display: flex;
            flex-direction: column;
            gap: 58px;

            .cart__adress {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 18px;

                h2 {
                    font-size: 16px;
                    font-weight: 300;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: relative;

                    input {
                        padding: 8px 12px;
                        height: 25px;
                        width: 340px;
                    }
                }

                a {
                    width: 102px;
                    height: 32px;
                    @include button;
                    font-size: 11px;
                    font-weight: 300;
                    line-height: 13px;
                }
            }

            .cart__checkout {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background: rgb(245, 243, 243);
                height: 214px;

                a {
                    margin-top: 18px;
                    @include button;
                    width: 272px;
                    height: 50px;
                    font-size: 14px;
                    font-weight: 300;
                }

                &__pay{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    border-bottom: 1px solid rgb(226, 226, 226);;
                    padding-bottom: 21px;
                    width: 275px;

                    .sum {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 4px;
                        p {
                        font-size: 11px;
                        font-weight: 400;
                    }

                    h2 {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .pink_text {
                    color: $textAlightColor;
                    }
                    }
                }

            }
        }
    
}
